<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pucrs.andepucrs" >

    <permission
        android:name="com.pucrs.andepucrs.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="package.name.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".AndePUCRSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".controller.SignUpActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".controller.ProfileSetupActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".controller.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.SearchActivity"
            android:label="@string/title_activity_search" />
        <activity
            android:name=".controller.LoginActivity"
            android:label="@string/title_activity_login" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".controller.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".controller.CriticalPointActivity"
            android:label="@string/title_activity_critical_point" />
        <activity
            android:name=".controller.MapsActivityTESTE"
            android:label="@string/title_activity_maps_activity_teste" >
        </activity>
        <activity
            android:name=".controller.FavoriteActivity"
            android:label="@string/title_activity_favorite" >
        </activity>
        <activity
            android:name=".controller.CommentActivity"
            android:label="@string/title_activity_comment" >
        </activity>
        <activity
            android:name=".controller.FavoriteDetailsActivity"
            android:label="@string/title_activity_favorite_details" >
        </activity>
        <activity
            android:name=".controller.TurnByTurnActivity"
            android:label="@string/title_activity_turn_by_turn" >
        </activity>
    </application>

</manifest>
